<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!-- saved from url=(0051)http://www.i-m.co/kjayamit/sample/contact-copy.html -->
<html>
<head>
  <%= javascript_include_tag "../js_css/Tracking" %>
  <script type="text/javascript"> var tk=false </script>
  <title> - Contact Copy</title>
  <%= javascript_include_tag "../js_css/jquery.min" %>
  <%= javascript_include_tag "../js_css/jquery-ui.min" %>
  <%= javascript_include_tag "../js_css/jquery.form" %>
  <%= javascript_include_tag "../js_css/contact" %>
  <%= javascript_include_tag "../js_css/minimalDropdown" %>
  <%= javascript_include_tag "../js_css/itemDesign" %>
  <%= javascript_include_tag "../js_css/slideDesign" %>
  <%= stylesheet_link_tag "../js_css/itemDesign" %>
  <%= stylesheet_link_tag "../js_css/slideDesign" %>
  <%= javascript_include_tag "../js_css/slideshow"%>
  <%= javascript_include_tag "../js_css/jquery.scrollTo-min" %>
  <%= stylesheet_link_tag "../js_css/stylesheet" %>
  <script> function init(){slideshow.init();} </script>
  <%= stylesheet_link_tag "../js_css/slideshow" %>
  <%= stylesheet_link_tag "../js_css/minimalDropdown" %>
</head>
<body vbid="745E60F1F2F746D28AC765C02957167C" domain="http://app.imcreator.com" onload="" style="background-color: rgb(191, 57, 191); background-attachment: scroll; background-image: url(http://d2c8yne9ot06t4.cloudfront.net/static/images/presets/Background/bgbl_13.gif); position: absolute; width: 100%; height: 100%; margin: 0px; min-width: 980px; overflow-x: hidden; background-position: 0% 0%; background-repeat: repeat repeat;">
<div class="wrapperer" style="margin-top: 0px;">
  <div class="page" style="position: relative; margin: 0px auto; width: 980px; height: 1500px; overflow: hidden; background-color: rgb(255, 255, 255); top: 0px;">
    <div class="WebsiteMenuBox " style="position:absolute;left:892px;top:0px;z-index:20000;padding-left:5px;padding-right:5px;padding-top:5px;padding-bottom:5px;width:81px;height:43px;overflow:hidden;border-width:0px;border-style:solid;border-color:transparent;border-color:#000000;-webkit-border-radius:0px;-moz-border-radius:0px;border-radius:0px;width:120px;height:43px;">
      <style>.WebsiteMenuBox li, a { -webkit-transition-property:color, background; -webkit-transition-duration: 0.2s, 0.2s; -webkit-transition-timing-function: linear, ease-in;} .WebsiteMenuBox li {float:left;text-decoration: none;padding-bottom:10px;padding-top:10px;padding-right:10px;padding-left:10px;margin-bottom:2px;margin-right:2px;font-size:1px;color:#202020;font-family:Arial;letter-spacing:0px;background-color:#FFFFFF;direction:ltr;} .WebsiteMenuBox li:hover {color:#000000;background-color:#f0f0f0;}.WebsiteMenuBox li a:link {color:#202020;}.WebsiteMenuBox li a:visited {color:#202020;}.WebsiteMenuBox li a:hover {color:#000000;}.WebsiteMenuBox li a:active {color:#202020;}.WebsiteMenuBox li:hover a {color:#000000 !important;}</style>
      <ul id="topnav" style="float:left; padding: 0px; margin: 0px;">
        <a style="text-decoration: none;color:#202020;font-family:Arial;font-weight:Normal;letter-spacing:0px;" title="Home" href="http://www.i-m.co/kjayamit/sample/home.html">
          <li style="">Home</li>
        </a>
        <a style="text-decoration: none;color:#202020;font-family:Arial;font-weight:Normal;letter-spacing:0px;" title="Contact" href="http://www.i-m.co/kjayamit/sample/contact.html">
          <li style="">Contact</li>
        </a>
        <a style="text-decoration: none;color:#000000;font-family:Arial;font-weight:Normal;letter-spacing:0px;" title="Contact Copy" href="./- Contact Copy_files/- Contact Copy.html">
          <li style=" background-color:#f0f0f0; color:#000000; ">Contact&nbsp;Copy</li>
        </a>
      </ul>
    </div>
    <div class="SkinMenuBox  " id="SkinMenuBox6" vbitemspacing="0" vbletterspacing="0px" vbfontfamily="arial, ArialRegular, helvetica, sans-serif" vbfontweight="Normal" vbfontstyle="Normal" vbfontmaxsize="10" vbitembackgroundcolornormal="rgb(250, 250, 250)" vbitempadding="0" vbitempaddinghorizontal="10" vbalignment="left" vbdirection="ltr" vbitemtextcolornormal="rgb(32, 32, 32)" vbitemtextcolorhover="rgb(0, 0, 0)" vbitembackgroundcolorhover="rgb(240, 240, 240)" style="position:absolute;left:208px;top:10px;z-index:10006;padding-left:0px;padding-right:0px;padding-top:0px;padding-bottom:0px;width:621px;height:150px;overflow:hidden;border-width:0px;border-style:solid;border-color:transparent;border-color:#000000;-webkit-border-radius:0px;-moz-border-radius:0px;border-radius:0px;width:592px;height:150px;">
      <div class="mceContentBody textarea">
        <div class="minimalDropdown menuHtmlContainer">
          <ul class="topnav" style="width: 1200px;">
            <li class="dont-drag website-menu-item itemSkin" id="link-to-page-home" url="home" type="page" target="_blank" style="background-color: rgb(250, 250, 250); color: rgb(32, 32, 32); float: left; padding: 0px 10px; text-align: left; margin-bottom: 0px; margin-right: 0px; background-position: initial initial; background-repeat: initial initial;">
              <a href="http://www.i-m.co/kjayamit/sample/home.html" style="letter-spacing: 0px; font-family: arial, ArialRegular, helvetica, sans-serif; font-weight: normal; font-style: normal; font-size: 10pt; float: left; direction: ltr;">Products</a>
              <ul class="subnav" style="background-color: rgb(250, 250, 250); width: 400px; top: 35px; margin-top: 0px; z-index: 5; display: none; background-position: initial initial; background-repeat: initial initial;">
                <li class="dont-drag website-menu-item itemSkin" id="link-to-page-null" url="null" type="none" target="_blank" style="background-color: rgb(250, 250, 250); color: rgb(32, 32, 32); float: left; padding: 0px 10px; text-align: left; margin-bottom: 0px; margin-right: 0px; width: 157.6px; background-position: initial initial; background-repeat: initial initial;"><a href="" style="letter-spacing: 0px; font-family: arial, ArialRegular, helvetica, sans-serif; font-weight: normal; font-style: normal; font-size: 10pt; float: left; direction: ltr;">New&nbsp;Menu&nbsp;Item&nbsp;2</a></li>
                <li class="dont-drag website-menu-item itemSkin" id="link-to-page-null" url="null" type="none" target="_blank" style="background-color: rgb(250, 250, 250); color: rgb(32, 32, 32); float: left; padding: 0px 10px; text-align: left; margin-bottom: 0px; margin-right: 0px; width: 157.6px; background-position: initial initial; background-repeat: initial initial;"><a href="" style="letter-spacing: 0px; font-family: arial, ArialRegular, helvetica, sans-serif; font-weight: normal; font-style: normal; font-size: 10pt; float: left; direction: ltr;">New&nbsp;Menu&nbsp;Item</a></li>
                <li class="dont-drag website-menu-item itemSkin" id="link-to-page-null" url="null" type="none" target="_blank" style="background-color: rgb(250, 250, 250); color: rgb(32, 32, 32); float: left; padding: 0px 10px; text-align: left; margin-bottom: 0px; margin-right: 0px; width: 157.6px; background-position: initial initial; background-repeat: initial initial;"><a href="" style="letter-spacing: 0px; font-family: arial, ArialRegular, helvetica, sans-serif; font-weight: normal; font-style: normal; font-size: 10pt; float: left; direction: ltr;">New&nbsp;Menu&nbsp;Item&nbsp;3</a></li>
              </ul>
              <span style="top: 9.5px; background-image: url(http://www.i-m.co/js/Skins/Menu/arrow_down.png); float: left; background-position: 50% 0%; background-repeat: no-repeat no-repeat;"></span>
            </li>
            <li class="dont-drag website-menu-item itemSkin" id="link-to-page-null" url="null" type="none" target="_blank" style="background-color: rgb(250, 250, 250); color: rgb(32, 32, 32); float: left; padding: 0px 10px; text-align: left; margin-bottom: 0px; margin-right: 0px; background-position: initial initial; background-repeat: initial initial;">
              <a href="" style="letter-spacing: 0px; font-family: arial, ArialRegular, helvetica, sans-serif; font-weight: normal; font-style: normal; font-size: 10pt; float: left; direction: ltr;">About&nbsp;Us</a>
              <ul class="subnav" style="background-color: rgb(250, 250, 250); width: 400px; top: 35px; margin-top: 0px; z-index: 5; display: none; background-position: initial initial; background-repeat: initial initial;">
                <li class="dont-drag website-menu-item itemSkin" id="link-to-page-null" url="null" type="none" target="_blank" style="background-color: rgb(250, 250, 250); color: rgb(32, 32, 32); float: left; padding: 0px 10px; text-align: left; margin-bottom: 0px; margin-right: 0px; width: 157.6px; background-position: initial initial; background-repeat: initial initial;"><a href="" style="letter-spacing: 0px; font-family: arial, ArialRegular, helvetica, sans-serif; font-weight: normal; font-style: normal; font-size: 10pt; float: left; direction: ltr;">New&nbsp;Menu&nbsp;Item&nbsp;5</a></li>
                <li class="dont-drag website-menu-item itemSkin" id="link-to-page-null" url="null" type="none" target="_blank" style="background-color: rgb(250, 250, 250); color: rgb(32, 32, 32); float: left; padding: 0px 10px; text-align: left; margin-bottom: 0px; margin-right: 0px; width: 157.6px; background-position: initial initial; background-repeat: initial initial;"><a href="" style="letter-spacing: 0px; font-family: arial, ArialRegular, helvetica, sans-serif; font-weight: normal; font-style: normal; font-size: 10pt; float: left; direction: ltr;">New&nbsp;Menu&nbsp;Item&nbsp;6</a></li>
              </ul>
              <span style="top: 9.5px; background-image: url(http://www.i-m.co/js/Skins/Menu/arrow_down.png); float: left; background-position: 50% 0%; background-repeat: no-repeat no-repeat;"></span>
            </li>
            <li class="dont-drag website-menu-item itemSkin" id="link-to-page-null" url="null" type="none" target="_blank" style="background-color: rgb(250, 250, 250); color: rgb(32, 32, 32); float: left; padding: 0px 10px; text-align: left; margin-bottom: 0px; margin-right: 0px; background-position: initial initial; background-repeat: initial initial;"><a href="" style="letter-spacing: 0px; font-family: arial, ArialRegular, helvetica, sans-serif; font-weight: normal; font-style: normal; font-size: 10pt; float: left; direction: ltr;">Career</a></li>
            <li class="dont-drag website-menu-item itemSkin" id="link-to-page-contact" url="contact" type="page" target="_blank" style="background-color: rgb(250, 250, 250); color: rgb(32, 32, 32); float: left; padding: 0px 10px; text-align: left; margin-bottom: 0px; margin-right: 0px; background-position: initial initial; background-repeat: initial initial;"><a href="http://www.i-m.co/kjayamit/sample/contact.html" style="letter-spacing: 0px; font-family: arial, ArialRegular, helvetica, sans-serif; font-weight: normal; font-style: normal; font-size: 10pt; float: left; direction: ltr;">Contact&nbsp;Us</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="PictureBox " itemclicktype="none" social="false" style="position:absolute;left:-8px;top:-9px;z-index:10001;padding-left:0px;padding-right:0px;padding-top:0px;padding-bottom:0px;width:229px;height:79px;overflow:hidden;border-width:0px;border-style:solid;border-color:transparent;border-color:#000000;-webkit-border-radius:0px;-moz-border-radius:0px;border-radius:0px;width:219px;height:79px;">
      <div class="inner-visible" style="position:relative;width:219px;height:79px;"><img realwidth="396" cropx="0" cropy="6.427" realheight="120" src="../js_css/M_RZUkS8jqxdWAnoFuFzrse9ZP7ECI1wTjQb2Y5r-CwV0Ld5Fx2VOQeURedrhrVckfMIA5-EwDMv2bLnH-gW=s219" style="position:absolute;left:0px;top:6px;width:219px;height:66px;"></div>
    </div>
    <div class="" style="position:absolute;left:1px;top:49px;z-index:10002;padding-left:5px;padding-right:5px;padding-top:5px;padding-bottom:5px;width:206px;height:674px;overflow:hidden;border-width:1px;border-style:solid;border-color:transparent;border-color:rgb(0, 0, 0);-webkit-border-radius:0px;-moz-border-radius:0px;border-radius:0px;width:195px;height:672px;">
    </div>
    <div class="" style="position:absolute;left:214px;top:94px;z-index:10003;padding-left:5px;padding-right:5px;padding-top:5px;padding-bottom:5px;width:782px;height:328px;overflow:hidden;border-width:1px;border-style:solid;border-color:transparent;border-color:rgb(0, 0, 0);-webkit-border-radius:0px;-moz-border-radius:0px;border-radius:0px;width:744px;height:326px;">
      <%= image_tag @project.picture.url , :size => "782x328" %>
    </div>
    <div class="TitleBox " style="position:absolute;left:216px;top:42px;z-index:10004;padding-left:0px;padding-right:0px;padding-top:0px;padding-bottom:0px;width:664px;height:46px;overflow:hidden;border-width:0px;border-style:solid;border-color:transparent;border-color:#000000;-webkit-border-radius:0px;-moz-border-radius:0px;border-radius:0px;width:633px;height:46px;">
      <div class="innerText">
                  <span class="textAreaWrapper" originalfontsize="48px" style="font-size: 35px;">
                     <p style="font-family: arial; font-size: 35px; margin: 0px;" originalfontsize="48px"><%= @project.project_name %></p>
                  </span>
      </div>
    </div>
    <div class="ParagraphBox " style="position:absolute;left:214px;top:434px;z-index:10005;padding-left:5px;padding-right:5px;padding-top:5px;padding-bottom:5px;width:783px;height:290px;overflow:hidden;border-width:1px;border-style:solid;border-color:transparent;border-color:rgb(0, 0, 0);-webkit-border-radius:0px;-moz-border-radius:0px;border-radius:0px;width:747px;height:288px;overflow:hidden;">
      <div class="innerText">
        <span style="color: #000000; font-family: BebasRegular; font-size: 28px; letter-spacing: 0em; line-height: 1em;"><%= @project.category.name %></span><span style="color: #000000; font-family: BebasRegular; font-size: 28px; letter-spacing: 0em; line-height: 1em;"> party.</span><br>
        <p style="text-align: left; margin: 0px;">&nbsp;</p>
        <p style="text-align: left; margin: 0px;"><span style="color: #008080; letter-spacing: 0em; line-height: 1em;"><strong><span style="font-family: arial,ArialRegular,helvetica,sans-serif; font-size: 14px;">$<%= @project.price %></span></strong></span></p>
        <p style="text-align: left; margin: 0px;">&nbsp;</p>
        <p style="text-align: left; margin: 0px;"><span style="font-size: 12px; color: #333333; letter-spacing: 0em; line-height: 1em;"><%= @project.description %></span></p>
      </div>
    </div>
  </div>
  <div class="footer" style="position:absolute;top:1510px;"><a href="http://www.i-m.co/sitemap.xml">sitemap</a><a id="built_using" href="http://www.imcreator.com/">IMcreator - Build A Free Website</a><a href="http://www.i-m.co/tags">tags</a></div>
  <script>init()</script>
</div>
<div id="the_footer" style="position: fixed; width: 100%; height: 50px; background-color: black; margin: 0px; padding: 0px; bottom: 0px;">
  <div style="position:absolute; left: 5px; top: 5px; background-color:black; z-index:9999;"><a href="http://www.imcreator.com/?utm_source=footer&utm_medium=footer&utm_content=footer&utm_campaign=footer"><img src="./- Contact Copy_files/imc_icon.png"></a></div>
  <div style="position:absolute; right:0px; width: 760px; top: 15px; float: right;">
    <a class="footer_text" style="padding-top:3px;" href="http://www.imcreator.com/"> Create a website </a>
    <a class="footer_text" style="margin:0px; padding:0px; padding-top:3px; padding-right:5px; padding-left:5px;">
      - a simple &amp; elegant HTML website builder  (and its free)
      <p></p>
    </a>
    <div id="start_footer" class="btn_box" style="width:95px;"><a class="footer_text" style="margin:0px; padding:0px; padding-top:3px; padding-right:5px; padding-left:5px;"></a><a class="footer_text" href="http://www.imcreator.com/?utm_source=footer&utm_medium=footer&utm_content=footer&utm_campaign=footer">Start Now</a></div>
    <div id="submit_footer" class="btn_box" style="width:205px; margin-left:1px;"><a class="footer_text" href="javascript:void(0)">Upgrade and Remove this footer</a></div>
    <form action="https://im-creator.appspot.com/upgrade" method="post" name="paypalform" class="paypal-form"><input type="hidden" class="username" name="username" value=""><input type="hidden" class="vbid" name="vbid" value=""><input type="hidden" class="plan" name="plan" value="Yearly payment"><input type="hidden" class="contractId" name="contractId" value="3071124"><input type="hidden" class="plan_full_name" name="plan_full_name" value="Premium Yearly"></form>
  </div>
</div>
</body>
</html>