<h1><%= @project.project_name %></h1>
<p><strong>Price: </strong> $<%= @project.price %><br />
  <strong>Subject :</strong> <%= @project.category.name %><br />
  <strong>Created Date:</strong> <%= @project.created_at %><br />
  <br/>
  <%= image_tag @project.picture.url %>
  <%= image_tag @project.picture.url(:thumb) %>
</p>
<p><%= @project.description %></p>
<hr />
<%= link_to 'Back', {:action => 'list'} %>